RewriteEngine On  
#RewriteBase /projetos/vanuatu/Vanuatu-Image-Buffer/

# --------------------------------------------------------------------------------------------------
# --- CLEAR BUFFER ---------------------------------------------------------------------------------
# --------------------------------------------------------------------------------------------------

RewriteRule ^clear-buffer\/{0,1}(.*?)$              clear-buffer.php?pass=$1                 [QSA,L]
RewriteRule ^clear\/{0,1}(.*?)$                     clear-buffer.php?pass=$1                 [QSA,L]

# --------------------------------------------------------------------------------------------------
# --- EXTERNAL IMG ---------------------------------------------------------------------------------
# --------------------------------------------------------------------------------------------------

RewriteRule ^ext\/(.*?)_-_([0-9]*)x([0-9]*)\.(.*?)$ image-external.php?x=$2&y=$3&url=$1&ext=$4   [L]
RewriteRule ^ext\/([0-9]*)x([0-9]*)\/(.*)\.(.*?)$   image-external.php?x=$1&y=$2&url=$3&ext=$4   [L]
RewriteRule ^ext\/([0-9]*)x([0-9]*).*$              image.php?x=$1&y=$2                          [L]

# --------------------------------------------------------------------------------------------------
# --- LOCAL IMG ------------------------------------------------------------------------------------
# --------------------------------------------------------------------------------------------------

RewriteRule ^(.*?)_-_([0-9]*)x([0-9]*)\.(.*?)$      image.php?x=$2&y=$3&file=$1&ext=$4           [L]                      
RewriteRule ^([0-9]*)x([0-9]*)\/(.*?)\.(.*?)$       image.php?x=$1&y=$2&file=$3&ext=$4           [L]
RewriteRule ^([0-9]*)x([0-9]*).*$                   image.php?x=$1&y=$2                          [L]

# --------------------------------------------------------------------------------------------------
# --- IF EMPTY -------------------------------------------------------------------------------------
# --------------------------------------------------------------------------------------------------

RewriteRule ^$ image.php [L]